@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);

* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;    
}

body {
	background-color: #fff;
	color: #777;
}

a {
	color: #777;
	text-decoration: none;
}

a:hover {
	color: #aaa;
	text-decoration: none;
}

h3 {
  color: #1A3D5C;
}

strong {
  color: #C45320;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}

.navbar-header {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}
.m10 {
  padding: 10px;
}
.m20 {
  padding: 20px;
}
.m30 {
  padding: 30px;
}
.m40 {
  padding: 40px;
}


/*  Footer  */

.footer {
  bottom: 0;
  width: 100%;
  background-color: #111;
  color: #777;
  padding: 20px 0px;
  margin-top: 40px;
}

/*  BootStrap MarkUp  */

.bg {
  color: #ddd
}

.bg-default {
  background-image: -webkit-linear-gradient(top, #000000 0%, #000005 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #000005 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000005));
  background-image: linear-gradient(to bottom, #000000 0%, #000005 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000005', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #000000;
}

.bg-info, .btn-info {
  background-image: -webkit-linear-gradient(top, #1A3D5C 0%, #245580 100%);
  background-image: -o-linear-gradient(top, #1A3D5C 0%, #245580 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A3D5C), to(#245580));
  background-image: linear-gradient(to bottom, #1A3D5C 0%, #245580 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1A3D5C', endColorstr='#ff245580', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #1A3D5C;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #245580;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #245580;
  border-color: #1A3D5C;
}

.bg-primary, .btn-primary {
  background-image: -webkit-linear-gradient(top, #0F0F1F 0%, #10111F 100%);
  background-image: -o-linear-gradient(top, #0F0F1F 0%, #10111F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0F0F1F), to(#10111F));
  background-image: linear-gradient(to bottom, #0F0F1F 0%, #10111F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0F0F1F', endColorstr='#ff10111F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #10111F;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #10111F;
  background-position: 0 -15px;
  border-color: #10111F;  
}
.btn-primary:active,
.btn-primary.active {
  background-color: #10111F;
  border-color: #10111F;
}

.bg-success, .btn-success {
  background-image: -webkit-linear-gradient(top, #121F14 0%, #161F18 100%);
  background-image: -o-linear-gradient(top, #121F14 0%, #161F18 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#121F14), to(#161F18));
  background-image: linear-gradient(to bottom, #121F14 0%, #161F18 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff121F14', endColorstr='#ff161F18', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #121F14;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #161F18;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #161F18;
  border-color: #121F14;
}

.bg-warning, .btn-warning {
  background-image: -webkit-linear-gradient(top, #C45320 0%, #C45929 100%);
  background-image: -o-linear-gradient(top, #C45320 0%, #C45929 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C45320), to(#C45929));
  background-image: linear-gradient(to bottom, #C45320 0%, #C45929 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC45320', endColorstr='#ffC45929', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #C45320;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #C45929;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #C45929;
  border-color: #C45320;
}

.bg-danger, .btn-danger {
  background-image: -webkit-linear-gradient(top, #661B1C 0%, #661D1F 100%);
  background-image: -o-linear-gradient(top, #661B1C 0%, #661D1F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#661B1C), to(#661D1F));
  background-image: linear-gradient(to bottom, #661B1C 0%, #661D1F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff661B1C', endColorstr='#ff661D1F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #661B1C;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #661D1F;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #661D1F;
  border-color: #661B1C;
}

